# Ignore build output and intermediate files
bin/
obj/

# Ignore project user-specific files
*.user
*.suo

# Ignore NuGet packages and cache
packages/
*.nupkg
project.lock.json
project.fragment.lock.json
*.nuget.cache

# Ignore application settings
appsettings.*.json

# Ignore Rider IDE files
.idea/
*.sln.iml

# Ignore Visual Studio Code settings
.vscode/

# Ignore logs and debug information
*.log
*.tlog

# Ignore database files (if applicable)
*.db
*.sqlite

# Ignore others
*.pdb
*.cache
*.deps.json
*.runtimeconfig.json
*.dll
*.exe
*.env

publish